@{
    ViewBag.Title = "Cửa hàng thực phẩm sạch Good-Market";
}

<section class="categories">
    @Html.Action("_Slide", "Home")
</section>
<section class="featured spad">
    @Html.Action("_Product", "SanPham")
</section>
<section class="from-blog spad">
    @Html.Action("_tintuc", "Tintuc")
</section>